@theme {
  --font-sans: "Pretendard Variable", sans-serif;

  /* color */
  --color-main: #205aff;
  --color-text: #8e8e8e;
  --color-white: #fff;
  --color-gray: #d9d9d9;

  /* text size */
  /* 공통 */
  --text-btn: 1.875rem;
  --text-placeholder: 1.25rem;
  --text-content: 0.9375rem;

  /* 컴포넌트 */
  --text-header-link: 1.25rem;
  --text-header-btn: 1.25rem;

  --text-main-hero-title: 4rem;
  --text-main-hero-sub-title: 2rem;
  --text-main-sub-title: 2.1875rem;
  --text-main-content: 1.5625rem;
  --text-main-card-hover: 1.875rem;

  --text-team-hero-title: 5.625rem;
  --text-team-hero-sub-title: 3.75rem;
  --text-team-introduce-content: 1.5625rem;

  --text-plan-hero-title: 5.625rem;
  --text-plan-sub-title: 2.1875rem;
  --text-plan-content: 1.5625rem;
  --text-plan-develop-content: 1.875rem;
  --text-plan-toggle-title: 1.5625rem;

  --text-sign-up-sub-title: 1.5625rem;
  --text-sign-up-input-btn: 1.25rem;

  /* box size */
  /* 공통 */
  --logo-width-size: 3.75rem;
  --logo-height-size: 3.125rem;
  --input-width: 28.125rem;
  --input-height: 3.75rem;
  --form-btn-width: 28.125rem;
  --form-btn-height: 4.375rem;
  --footer-icon-size: 1.75rem;
  --footer-icon-large-size: 2.5rem;
  --footer-logo-width: 3.125rem;
  --footer-logo-height: 1.25rem;
  --fooger-logo-lg-width: 4.375rem;
  --footer-logo-lg-height: 1.875rem;

  /* 컴포넌트 */
  --header-max-width: 90rem;
  --header-height: 4.375rem;
  --header-btn-width: 5.625rem;
  --header-btn-height: 2.5rem;

  --main-hero-max-width: 80rem;
  --main-hero-height: 50rem;
  --main-lion-logo-width: 12.5rem;
  --main-btn-width: 25rem;
  --main-btn-height: 8.125rem;
  --main-character-width: 15.625rem;
  --main-bubble-width: 31.25rem;
  --main-bubble-height: 17.5rem;
  --main-card-width: 18.75rem;
  --main-card-height: 21.875rem;

  --team-intro-max-width: 75rem;
  --team-intro-height: 18.75rem;
  --team-character-width: 18.75rem;
  --team-character-width-hover: 15.625rem;

  --plan-hero-height: 18.75rem;
  --plan-develop-circle-width: 12.5rem;
  --plan-start-box-width: 37.5rem;
  --plan-start-box-height: 12.5rem;
  --plan-start-circle-size: 3.125rem;
  --plan-feelings-box-width: 37.5rem;
  --plan-feelings-box-height: 8.75rem;
  --plan-profile-circle: 6.25rem;
  --plan-box-width: 75rem;
  --plan-box-height: 31.25rem;

  --login-btn-width: 28.125rem;
  --login-btn-height: 1.875rem;

  --sign-up-btn-width: 5rem;
  --sign-up-btn-height: 3.75rem;

  /* radius */
  --btn-radius: 1.25rem;
  --basic-radius: 1.25rem;

  --plan-box-radius: 12.5rem;

  /* spacing */
  --input-padding: 1.3125rem;
  --sub-title-margin-bottom: 3.4375rem;

  /* font-weight */
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
}
