@import "tailwindcss";
@import "./assets/style/custom.css";

@layer components {
  :root {
    @apply text-[12px] md:text-[14px] lg:text-[16px];
  }

  body {
    * {
      @apply font-bold text-text;
      &:focus {
        @apply outline-main outline-offset-3;
      }
      img {
        width: 100%;
      }
    }
    .wrap {
      @apply min-h-screen bg-white;
    }
  }

  @layer utilities {
    .preserve-3d {
      transform-style: preserve-3d;
    }

    .backface-hidden {
      backface-visibility: hidden;
    }

    /* ============================= */
    /*        Floating 애니메이션       */
    /* ============================= */
    .animate-floating {
      animation: floating 3s ease-in-out infinite;
    }

    @keyframes floating {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }

    /* ============================= */
    /*        Typing 애니메이션         */
    /* ============================= */
    .animate-typing {
      animation:
        typing 4s steps(20) infinite alternate,
        blink 0.7s infinite;
    }

    @keyframes typing {
      0% {
        width: 0%;
        visibility: hidden;
      }
      100% {
        width: 100%;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
      100% {
        border-color: white;
      }
    }
  }

  /* ================================================== */
  /*                    팀 소개 페이지                  */
  /* ================================================== */

  .team-introduce {
    .content {
      @apply sr-only;
    }
    .character {
      @apply w-[16.375rem] content-end md:w-(--team-character-width);
    }
    &:hover {
      .character {
        @apply content-center w-[12rem] md:w-(--team-character-width-hover);
      }
      .content {
        @apply not-sr-only;
      }
    }
  }
}

/* ================================================== */
/*                    회원가입 페이지                  */
/* ================================================== */

p.error {
  display: none;
}

input:user-invalid:not(:placeholder-shown) ~ p.error {
  display: block;
}

/* ================================================== */
/*                    플랜 페이지                      */
/* ================================================== */

/* 각 옵션에 대한 표시 규칙 */
#option1:checked ~ .tab-content .content-area #image1,
#option1:checked ~ .tab-content .content-area #text1 {
  display: block;
}

#option2:checked ~ .tab-content .content-area #image2,
#option2:checked ~ .tab-content .content-area #text2 {
  display: block;
}

#option3:checked ~ .tab-content .content-area #image3,
#option3:checked ~ .tab-content .content-area #text3 {
  display: block;
}

/* 각 탭이 선택 될 시 label 색상변경 */
#option1:checked ~ .tab-content .menu-item label[for="option1"] {
  color: #205aff;
  font-weight: bold;
}

#option2:checked ~ .tab-content .menu-item label[for="option2"] {
  color: #205aff;
  font-weight: bold;
}

#option3:checked ~ .tab-content .menu-item label[for="option3"] {
  color: #205aff;
  font-weight: bold;
}

@media (max-width: 64rem) {
  #option1:checked ~ .tab-content .content-area #image1,
  #option2:checked ~ .tab-content .content-area #image2,
  #option3:checked ~ .tab-content .content-area #image3 {
    display: none; /* 모바일에서는 이미지 숨기기 */
  }
}

/* ====================================================== */
/* =================== 추가된 애니메이션 =================== */
/* ====================================================== */
